.body{
  background-color: rgb(97, 97, 97);
}
.Todo-placement{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.Todo-input{
  position: absolute;
  margin-bottom: -25px;
}

.delete-button{
  background-color:rgb(255, 0, 0);
  color: white;
}


.TODOS{
  border:1px solid rgb(0, 0, 0);
  width: 250px;
  display: flex;

  align-items: center;
  flex-direction: column;
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
}

.todos-phrases{
  margin-top: 5px;
  color: black;
  text-align: center;
}

.write-your-input{
  width: 200px;
  height: 30px;
  margin-left: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.write-your-input::placeholder{
  color: gray;
}

.Add-button{
  width: 56px;
  height: 36px;
  background-color: rgb(255, 255, 255);
  margin-left: 2px;
}

.rq{
  text-align: center;
  color: grey;
  font-size: small;
}

#textarea {
  min-width: 100px;
  max-width: 250px;
  word-break: break-all;
  cursor: text;
}